.searchInput__wrapper {
  margin: 20px 0 60px 0;
  display: flex;
  justify-content: center;
}

.searchInput {
  min-width: 170px;
  margin-right: 10px;
}

.searchButton {
  padding: 5px;
  background-color: rgb(199, 221, 30);
  border-radius: 10px;
  color: black;
  cursor: pointer;
}
