.header {
  padding: 50px 0;
  font-family: DistantGalaxy, Arial, serif;
  font-size: 3em;
}

.select {
  color: greenyellow;
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 2em;
  }
}
