.root__layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main__link {
  text-decoration: none;
  color: greenyellow;
  font-size: 1.2em;
  font-weight: bold;
  align-self: center;
  padding-right: 50px;
}
